.container p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#result-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(53, 53, 241);
  padding: 10px;
}

.clickable:hover {
  text-decoration: underline;
}
body {
  color: white;
  background-color: rgb(79, 79, 79);
}