.container p {
  margin-top: 1rem;
}

#result-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
body {
  color: white;
  background-image: url("https://wallpapercave.com/wp/wp2945094.jpg");
}